html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  height: calc(var(--vh, 1vh) * 100);
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --bgMain: #221f1f;
  --headersMain : #c3e89e;
  --textMain: #ffffff;
  --linkMain: #a6bbcc;
  --textBoxBg: #454340;
  --alertMain:#e38034;
  --projDescBg: rgba(80, 79, 79, 0.7);
}

.no-display{
  display: none;
}

.half-opacity{
  opacity: 0.5;
}

.no-events{
  pointer-events: none;
}

/* --------------------------------------------------------- */

body {
  color: var(--textMain);
  background-color: var(--bgMain);
  font-family:'Roboto', sans-serif ;

  user-select: none;
}

/* ==== header */
.header{}
.header__container{
 width: 100%;

 display: flex;
 align-items: center;
 justify-content: center;

 margin-bottom: 32px;
}
.header__wrapper{
}

.header__title{}
.title-header{
  display: flex;
  justify-content: center;
  align-items: center;

  
}
.title-header__text{
  font-size: 32px;
  font-weight: 700;
  color:  var(--headersMain);
  user-select: none;
}
.title-header__accent{
  font-size: 32px;
  color: var(--textMain);
}

/* --- */

.header-links__menu{
  margin-top: 32px;

  display: flex;
  align-items: center;
  justify-content: center;  
}

.menu-links__list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: center;

  gap: 32px;
  user-select: none;

  font-weight: bold;
  font-size: 18px;
  color: var(--linkMain);
}

.link-item__link{
  cursor: pointer;
}

.image-gitHub{
  content: url(../res/github-mark-white.svg);
}
.image-linkedIn{
  content: url(../res/linkedin-app-white-icon.svg);
}
.image-email{
  content: url(../res/icons8-email-open-100.svg);
}
.link-image{
  width: 36px;
}

.header-links__email-modal-container{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; 
  left: 0;
  z-index: 1;
}
.email-modal__wrapper{
  margin-top: 130px;
  display: flex;
  align-items: center;  
  justify-content: center;
}
.email-modal__body{
  border-radius: 4px;
  border: 2px solid var(--alertMain);
  background-color: var(--textBoxBg);
  position: relative;

  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
  justify-content: center;

  user-select: text;
  z-index: 2;
}

.body-modal__exit-modal{
  position: relative;
  width:100%;
}
.exit-modal__btn{
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.exit-modal-btn__icon{
  content: url(../res/cross.svg);
  height: 12px;
  width: 12px;
}



.email-modal__email{
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.email__btn-cp{
  background-color: var(--textMain);
  padding: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 4px solid var(--textMain);

  cursor: pointer;
  user-select: none;
}

.btn-cp-clicked{
  background-color: var(--headersMain);
  border-color: var(--headersMain);
}

.email__btn-cp:hover{
  border: 4px solid var(--linkMain);
}
.btn-cp__image{
  content: url(../res/copy..svg);
  height: 20px;
  width: 20px;
}


.email__text{
  font-size: 18px;
  font-weight: bold;
}

.tag__text{}

/* --- */

.header__menu-wrapper{
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-block{
  margin-top: 32px;
}

.header__menu-menu{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.menu-item{
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  padding: 0px;
  color: var(--linkMain);
}

.menu-item:hover{
  cursor: pointer;
  text-decoration: underline;
  padding-bottom: 4px;
}

.menu-item p{
  pointer-events: none;
}

.menu-item__hl{
  padding-bottom: 4px;
  border-bottom: 12px solid var(--headersMain);
}

.menu-item__hl:hover{
text-decoration: none;
}


/* ====== content */

.content{}
.content__container{
  margin-top: 32px;
  padding-left: 82px;
  padding-right: 82px;
  padding-bottom: 32px;
}
.content__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .content__container{
    padding-left: 12px;
    padding-right: 12px;
  }
  
}

/* ===about */

.about{

}
.about__container{
  margin-top: 32px;
  padding-left: 82px;
  padding-right: 82px;
}

.about__intro{
  display: flex;
  gap: 32px;

  justify-content: center;
  justify-items: center;
}

@media (max-width: 800px) {
  .about__intro{
    flex-direction: column;
    align-items: center;
  }
}

.intro-about__greeting-block{
  display: flex;
  align-items: center;
  justify-content: center;
}
.greeting-block__greeting{}

.greeting__text{
  margin-bottom: 12px;
}
.text-greeting{
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
}
.greeting__title{

  font-size: 80px;
  font-weight: 800;
  line-height: 64px;
  color: var(--headersMain);

  margin-bottom: 16px;
}

.text-title__line-a{}
.text-title__line-b{}
.text-title__line-c, .text-title__line-d{
  text-align: left;
  margin-top: 24px;

  max-width: 552px;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  color: var(--textMain);
}

.text-title__line-d{
  font-style: italic;
  font-size: 12px;
}

.greeting__link{
  cursor: pointer;
  
}
.greeting__link:hover{
  text-decoration: underline;
}
.link-text{
  user-select: none;

  font-weight: bold;
  font-size: 18px;

  color: var(--linkMain);
}

@media (max-width: 800px) {
  .greeting__title{
    font-size: 48px;
    line-height: 40px;
  }
}

.intro-about__poster-block{}
.poster-block__poster{
  content: url(../res/me_photo.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.poster-block__wrapper{
  overflow: hidden;
  border-radius: 8px;
  width: 252px;
  height: 305px;
}

/* ------work */

.work{}
.work__container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.work__wrapper{
  width: 100%;
}

.work__cards-block{
  display: grid;
  grid-template-columns: repeat(3,3fr);
  align-items: center;
  justify-content: center;
  gap: 32px;
}



.cards-block__card-link{
  position: relative;
  min-width: 280px;
  height: 250px;

  border: 4px solid var(--linkMain);
  border-radius: 5px;
}

.cards-block__card-link:hover{
  border: 4px solid var(--headersMain);
  cursor: pointer;
}

.card__image-wrapper{
 display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-card{
  content: url(../res/coming-soon-2579123_640.jpg);
  object-fit: contain;
  display: block;
}

.card__title-card{
  position: absolute;
  top: 4px;
  left: 4px;

  padding: 8px;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--projDescBg);
}
.title-card__text{
  text-align: left;
  color: var(--headersMain);
}

.card__description-card{}
.description-card__text{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  overflow: hidden;

  text-align: left;
  padding: 4px;

  color: var(--textMain);
  background-color: var(--projDescBg);
}

@media (max-width: 1500px) {
  .work__cards-block{
    grid-template-columns: repeat(2,3fr);
  }
}

@media (max-width: 1000px) {
  .work__cards-block{
    grid-template-columns: repeat(1,3fr);
  }

  .cards-block__card-link{
    max-width: 500px;
    
  }

  .work__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}





